# Path to TDE Data Directory
SCANTDE_DATA_DIR=/path/to/scantde/data

# Credentials for ZTF Data Access
# Set Backend (kowalski or ampel)
# ZTF_BACKEND=kowalski
# Set tokens
# KOWALSKI_TOKEN=your_token_here
# SKYPORTAL_TOKEN=your_skyportal_token_here
# Set server password
# SCANTDE_PASSWORD=your_server_password_here
# SCANTDE_SECRET_KEY=your_server_secret_here

# Slack STUFF
# SLACK_TOKEN=your_slack_token_here
# PUBLIC_URL=http://127.0.0.1:5000 # Or, like, a real website